* {
    padding: 0;
    margin: 0;
    font-family: "Baloo Bhaina 2", cursive;
    font-size: 16px;
}

body {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(136.31deg,
            #0a0f07 14.16%,
            #1f102b 53.39%,
            #23193e 82.63%);
}

#container {
    padding: 40px 60px 40px 60px;
}

nav {
    display: flex;
    color: #fff;
    justify-content: space-between;
}

    nav ul {
        display: flex;
        gap: 4rem;
        list-style: none;
        align-items: center;
        text-transform: uppercase;
        font-weight: 800;
        font-size: 20px;
        line-height: 40px;
        text-align: center;
    }

main {
    display: flex;
    justify-content: space-between;
    color: #FFF;
    margin-top: 120px;
}
    main h1 {
        color: rgba(159, 127, 219, 0.8);
        font-size: 64px;
        font-weight: 700;
        line-height: 3rem;
        text-align: center;
    }

form {
    width: 50%;
}

input {
    color: #FFF;
    padding: 1rem;
    background: #9F7FDB;
    border-radius: 10px;
    border: 0;
}

    .input_name{  
        margin-top: 4rem;
        margin-bottom: 2rem;
    }

    .input_email{
        margin-top: 1rem;
        margin-bottom: 2rem;
    }

.column {
    display: flex;
    flex-direction: column;
    width: 375px;
}

form button {
    width: 240px;
    padding: 1rem;
}

.btn_1 {
    gap: 10px;
    background: #7834F3;
    border-radius: 10px;
    border: none;
    color: white;
}

.btn_2 {
    gap: 10px;
    background: #9F7FDB;
    border-radius: 10px;
    border: none;
    color: white;
}